.navbar {
    background-color: black;
}

.spacer {
  flex: 1 1 auto;
}

.search-bar {
    width: 350px;
    outline: 0;
    border-radius: 50px;
    border: "1px solid #e3e3e3";
    box-shadow: none;
    padding: 16px;
}
