<button
  *ngFor="let category of categories"
  class="category-btn"
  (click)="handleClick(category.name)"
  [ngStyle]="{
    background: selectedCategoryProps === category.name ? '#FC1503' : 'black'
  }"
>
  <mat-icon
    class="icon"
    [ngStyle]="{
      color: selectedCategoryProps === category.name ? 'red' : 'white'
    }"
    >{{ category.icon }}</mat-icon
  >
  <span
    [ngStyle]="{
      opacity: selectedCategoryProps === category.name ? '1' : '0.8'
    }"
  >
    {{ category.name }}
  </span>
</button>
