.container {
  display: grid;
  grid-template-areas: 
  "player"
  "videos";
  background-color: #000;
}

.video-title {
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  padding: 16px;
}

.video-channel-title {
  color: #FFF;
  padding: 16px;
}

.video-statistics {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  color: #FFF;
  padding-left: 16px;
}
// .fixed {
//   position: sticky;
//   top: 0;
//   align-self: flex-start;
// }

// .scrollable {
//   overflow-y: auto;
//   height: 95vh;
// }
